<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" xmlns:th="http://www.thymeleaf.org/">
    <li class="header">MAIN NAVIGATION</li>

    <li class="treeview">
        <a href="/manager/danh-sach-thu-hoc-phi">
            <i class="fa fa-laptop"></i>
            <span>Danh Sách Thu Học Phí</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/manager/danh-sach-vay-tin-dung">
            <i class="fa fa-laptop"></i>
            <span>Sinh Viên Vay Tín Dụng</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/manager/danh-sach-tam-ngung-hoc">
            <i class="fa fa-laptop"></i>
            <span>Sinh Viên Ngưng Học</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/manager/thong-tin-ca-nhan">
            <i class="fa fa-laptop"></i>
            <span>Thông Tin Cá Nhân</span>
        </a>
    </li>
</ul>