<div class="content-wrapper bg-white" style="min-height: 916px;">
    <!-- Main content -->
    <section class="content">


      <!--  <h2>Hello</h2>
        &lt;!&ndash; /.row &ndash;&gt;

        &lt;!&ndash; th:block rather than unneeded div &ndash;&gt;
        <th:block th:switch="${financialType}">
            <div th:case="'HB'">
                <h2>HOC BONG</h2>
            </div>
            <div th:case="'TD'">
                <h2>TIN DUNG</h2>
            </div>
            <div th:case="'ĐT'">
                <h2>DAU TU</h2>
            </div>
            <div th:case="'BT'">
                <h2>BINH THUONG</h2>
            </div>
        </th:block>-->

    </section>
    <!-- /.content -->
</div>