<div class="content-wrapper bg-white" style="min-height: 916px;">

    <!-- Main content -->
    <section class="content">
        <div class="my-row">
            <!--Search form-->
            <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                <h2>Welcome Admin</h2>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">Action <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control"
                           aria-label="..."/>
                           <span class="input-group-btn">
                               <button class="btn btn-primary">Search</button>
                           </span>
                </div>
                <!-- /input-group -->
            </div>
            <!--/Search form-->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>