<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" xmlns:th="http://www.thymeleaf.org/">
    <li class="header">MAIN NAVIGATION</li>

    <li class="treeview">
        <a href="/manager/hocphi">
            <i class="fa fa-laptop"></i>
            <span>Quản Lý Tài Khoản</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/admin/nhap-hoc-ky">
            <i class="fa fa-laptop"></i>
            <span>Quản Lý Học kỳ</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/admin/nhap-hoc-sinh">
            <i class="fa fa-laptop"></i>
            <span>Quản Lý Môn Học</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/admin/nhap-mon-hoc-trong-ky">
            <i class="fa fa-laptop"></i>
            <span>Nhập Môn Học Trong Kỳ</span>
        </a>
    </li>
</ul>